@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-distant {
    perspective: 1200px;
}

.transform-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.flipped {
    transform: rotateY(180deg);
}

.image-container.flipped .image-front {
    transform: rotateY(180deg);
}

.image-container.flipped .image-back {
    transform: rotateY(0deg);
}